site_name: 數位邏輯設計
theme:
  name: material
  logo: assets/logo.png
  favicon: assets/logo.png
  extra:
    homepage: https://digital-logic-design.readthedocs.io
  language: zh-TW
  nav_style: dark
  highlightjs: true
  hljs_languages:
    - yaml
    - rust
  palette:
    - scheme: default
      toggle:
        name: Switch to dark mode
        icon: material/toggle-switch
      primary: blue
    - scheme: slate
      toggle:
        name: Switch to light mode
        icon: material/toggle-switch-off-outline
      primary: blue
  features:
    # - navigation.instant # 當點擊其他頁面時網頁不會重新整理且表留只在首頁
    - navigation.tracking
    # - navigation.tabs # 目錄橫放至頂端
    # - navigation.tabs.sticky # 目錄橫放至頂端
    # - navigation.sections # 左側目錄全部攤開
    - navigation.expand # 左側目錄全部攤開但可以收合
    - navigation.top
    # - toc.integrate # 右側目錄加入至左側目錄
    - search.suggest # 建議搜尋功能
    # - navigation.indexes # 只顯示部份索引
    - search.highlight
    - search.share
repo_url: https://github.com/Multimedia-Processing/Digital-Logic-Design
plugins:
  - search
  - mermaid2

authors: Chenzhi Wu
nav:
  - 序曲: README.md
  - 第1部曲 硬體描述語言:
    - 簡介: 1-硬體描述語言/README.md
    - 第1章 開發環境建置: 1-硬體描述語言/1-開發環境建置.md
    - 第2章 數位電路設計流程: 1-硬體描述語言/2-數位電路設計流程.md
    - 第3章 VerilogHDL: 1-硬體描述語言/3-VerilogHDL.md
    - 第4章 VHDL: 1-硬體描述語言/4-VHDL.md
    - 第5章 SystemVerilog: 1-硬體描述語言/5-SystemVerilog.md
    - 第6章 HDL: 1-硬體描述語言/6-HDL.md
    - 第7章 持續整合與持續佈署: 1-硬體描述語言/7-持續整合與持續佈署.md
  - 第2部曲 數位邏輯設計:
    - 簡介: 2-數位邏輯設計/README.md
    - 第1章 數位系統與二進位數: 2-數位邏輯設計/1-數位系統與二進位數.md
    - 第2章 布林代數與邏輯閘: 2-數位邏輯設計/2-布林代數與邏輯閘.md
    - 第3章 邏輯閘層次簡化: 2-數位邏輯設計/3-邏輯閘層次簡化.md
    - 第4章 組合邏輯: 2-數位邏輯設計/4-組合邏輯.md
    - 第5章 序向邏輯: 2-數位邏輯設計/5-序向邏輯.md
    - 第6章 暫存器: 2-數位邏輯設計/6-暫存器.md
    - 第7章 計數器: 2-數位邏輯設計/7-計數器.md
    - 第8章 記憶體: 2-數位邏輯設計/8-記憶體.md
    - 第9章 暫存器轉移階層設計: 2-數位邏輯設計/9-暫存器轉移階層設計.md
    - 第10章 演繹狀態機的 ASM 圖與 ASMD 圖: 2-數位邏輯設計/README.md
    - 第11章 類比訊號與數位訊號轉換: 2-數位邏輯設計/README.md
    - 第12章 數位訊號處理: 2-數位邏輯設計/README.md
    - 第13章 應用與範例: 2-數位邏輯設計/13-應用與範例.md
  - 第3部曲 可程式規劃裝置:
    - 簡介: 3-可程式規劃裝置/README.md
    - 第N章 唯讀記憶體: 3-可程式規劃裝置/README.md
    - 第N章 隨機存取記憶體: 3-可程式規劃裝置/README.md
    - 第N章 可程式邏輯陣列: 3-可程式規劃裝置/README.md
    - 第N章 可程式陣列邏輯: 3-可程式規劃裝置/README.md
    - 第N章 序向可規劃裝置: 3-可程式規劃裝置/README.md
    - 第N章 複雜可程式邏輯裝置: 3-可程式規劃裝置/README.md
    - 第N章 現場可程式邏輯閘陣列: 3-可程式規劃裝置/README.md
  - 第4部曲 計算機系統結構:
    - 簡介: 4-計算機系統結構/README.md
    - 第1章 暫存器傳遞語言: 4-計算機系統結構/1-暫存器傳遞語言.md
    - 第2章 微運算: 4-計算機系統結構/2-微運算.md
    - 第3章 匯流排: 4-計算機系統結構/3-匯流排.md
    - 第4章 算術邏輯移位單元: 4-計算機系統結構/4-算術邏輯移位單元.md
    - 第N章 控制單元: 4-計算機系統結構/README.md
    - 第N章 計算機組織與設計: 4-計算機系統結構/README.md
    - 第N章 計算機程式語言規劃: 4-計算機系統結構/README.md
    - 第N章 微程式控制: 4-計算機系統結構/README.md
    - 第N章 中央處理單元: 4-計算機系統結構/README.md
    - 第N章 管線及向量處理: 4-計算機系統結構/README.md
    - 第N章 計算機算術: 4-計算機系統結構/README.md
    - 第N章 輸入輸出組織: 4-計算機系統結構/README.md
    - 第N章 記憶組織: 4-計算機系統結構/README.md
    - 第N章 多處理器系統: 4-計算機系統結構/README.md
  - 第5部曲 現代處理器架構:
    - 簡介: 5-現代處理器架構/README.md
    - 第1章 x86: 5-現代處理器架構/1-x86.md
    - 第2章 ARM: 5-現代處理器架構/2-ARM.md
    - 第3章 RISV-V: 5-現代處理器架構/3-RISV.md
    - 第4章 MIPS: 5-現代處理器架構/4-MIPS.md
    - 第5章 PowerPC: 5-現代處理器架構/5-PowerPC.md
    - 第6章 系統程式設計: 5-現代處理器架構/20-系統程式設計.md
  - 第6部曲 新一代處理器架構:
    - 簡介: 6-新一代處理器架構/README.md
  - 附件:
    - 參考資料: 7-附件/1-參考資料.md
    - 索引: 7-附件/2-索引.md
  - WiKi: WiKi/
markdown_extensions:
  - meta
  - smarty
  - mdx_truly_sane_lists
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - toc:
      permalink: true
      slugify: !!python/name:pymdownx.slugs.uslugify
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid
  - pymdownx.arithmatex:
      generic: true
  - markdown_katex:
      no_inline_svg: True
      insert_fonts_css: True
      macro-file: macros.tex

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
